$main-bgColor: rgb(35, 35, 35);
$screen-color: rgb(143, 188, 143);
$bgButtonNumber: rgb(0, 0, 0);
$bgButtonOperation: rgb(169, 169, 169);
$bgButtonGreen: rgb(0, 139, 139);
$bgButtonGreen: rgb(0, 139, 139);
$text-color: rgb(255, 250, 250);
$black: rgb(0, 0, 0);
$dark-silver: rgb(128, 128, 128);
$light-silver: rgb(211, 211, 211);

